<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Your Library!</h1>
    <form action="/add" method="POST">
        <label>Title
            <input 
                placeholder="The Stranger" 
                type="text"
                name="title"
                required >
        </label>
        <label>Author
            <input 
                placeholder="Albert Camus" 
                type="text"
                name="author"
                required >
        </label>
        <button type="submit">Add Book</button>
        <h2>Your Books</h2>
        <ul>
            <% for(const book of bookList) { %>
                <li>
                    <%= book.title %> by <%= book.author %>
                    <input type="button" class="delete" value="DELETE"></input>
                </li>
            <% } %>
        </ul>
    </form>
    <!-- link to main.js file -->
    <script src="/main.js"></script>
</body>
</html>