<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Library Lite</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome To The Library Lite Demo!</h1>
    <!-- Form Section -->
    <section class="form-section flex flex-col align-center justify-center">
        <h2>Add Books</h2>
        <form action="/add" method="POST" class="flex flex-col">
            <div class="flex form-container"> 
                <!-- Title Input -->
                <div class="flex flex-col align-center">
                    <label for="title">Title</label>
                    <input 
                        placeholder="The Stranger" 
                        type="text"
                        name="title"
                        id="title"
                        required >
                </div>
                <!-- Author Input -->
                <div class="flex flex-col align-center">
                    <label for="author">Author</label>
                    <input 
                        placeholder="Albert Camus" 
                        type="text"
                        name="author"
                        id="author"
                        required >
                </div>
            </div>
            <button type="submit" class="mt-1">Add Book</button>
        </form>
    </section>
    <!-- Lists Container -->
    <section class="lists-container flex flex-col align-center">
        <!-- Want To Read List -->
        <section class="want-sect flex flex-col align-center">
            <h2>Want To Read</h2>
            <ul class="flex flex-wrap space-evenly">
                <% for(const book of bookInfo) { 
                    if(book.read === false) { %>
                        <li class="book flex flex-col justify-center">
                            <span>
                                <%= book.title %> by <%= book.author %>
                            </span>
                            <input type="button" class="delete btn mt-1" value="Delete"></input>
                            <input type="button" class="mark-read btn" value="Mark Read"></input>
                        </li>
                    <% }
                } %>
            </ul>
        </section>
        <!-- Read List -->
        <section class="read-sect flex flex-col align-center">
            <h2>Read</h2>
            <ul class="flex flex-wrap space-evenly">
                <% for(const book of bookInfo) { 
                    if(book.read === true) { %>
                        <li class="book flex flex-col justify-center">
                            <span>
                                <%= book.title %> by <%= book.author %>
                            </span>
                            <input type="button" class="delete btn mt-1" value="Delete"></input>
                            <input type="button" class="mark-unread btn" value="Mark Unread"></input>
                        </li>
                    <% }
                } %>
            </ul>
        </section>
    </section>
     <footer class="flex flex-col align-center mt-1">
        <div class="mb-1">
            <a href="#" target="_blank" class="mr-1">Tutorial</a>
            <a href="https://github.com/raisa-d/library-lite-demo" target="_blank">Source Code</a>
        </div>
        <small>&copy; Raisa Dorzback</small>
     </footer>
    <!-- link to main.js file -->
    <script src="/main.js"></script>
</body>
</html>