html {
    font-family: Arial, Helvetica, sans-serif;
    background: #164E63;
    font-size: 62.5%;
}

h1 {
    color: #fff;
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
    border-bottom: 0.1rem solid #0A3342;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}

li {
    font-size: 1.6rem;
}

h1, form {
    text-align: center;
}

/* BUTTONS */

button, .btn {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: .2rem solid #BEC9DF;
    font-size: 1.4rem;
}

    button:hover,.btn:hover {
        cursor: pointer;
        border-bottom-color: #164E63;
    }

        .btn {
            margin: 0.5rem;
            padding: 0.7rem;
        }

/* SECTIONS */
form {
    padding: 1rem 0 1rem 0;
}

    form, section {
        border-radius: 1rem;
        background: #fff;
        border: 0.2rem solid #0A3342; 
    }

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

ul {
    padding: 0 1rem;
    margin: 0;
}

li {
    list-style: none;
    border-bottom: 1px solid #164e635c;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INPUTS */
label {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.6rem;
}

input {
    border: none;
    border-radius: 2rem;
    border: 0.1rem solid #0A3342;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1.4rem;
}

    /* FOOTER */
    footer {
        font-size: 1.6rem;
        text-align: center;
        color: black;
        padding: 0.5rem 0;
    }

        /* LINKS */
        a, small {
            color: #fff;
        }

        a:hover {
            color: #ccc;
        }


/* MEDIA QUERIES */
@media all and (min-width: 425px) {
    section, form {
        margin: 1rem 2rem;
    }
}

@media all and (min-width: 950px) {
    form, section {
        margin: 1rem 6rem;
    }
}

@media all and (min-width: 1145px) {
    form, section {
        margin: 1rem 15rem;
    }
}

@media all and (min-width: 1300px) {
    form, section {
        margin: 1rem 25rem;
    }
}